[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Biswajeet-Devops
[access "refs/for/refs/*"]
	read = group user/Biswajeet-Devops
	push = group user/Biswajeet-Devops
	label-Code-Review = -2..+2 group user/Biswajeet-Devops
	label-Verified = -1..+1 group user/Biswajeet-Devops
	rebase = group user/Biswajeet-Devops
	removeReviewer = group user/Biswajeet-Devops
	submit = group user/Biswajeet-Devops
[access "refs/heads/*"]
	read = group user/Biswajeet-Devops
	create = group user/Biswajeet-Devops
	push = +force group user/Biswajeet-Devops
	pushMerge = group user/Biswajeet-Devops
[access "refs/tags/*"]
	push = +force group user/Biswajeet-Devops
	pushTag = group user/Biswajeet-Devops
	pushSignedTag = group user/Biswajeet-Devops
